In [5]:
import pandas as pd

# Charger chaque fichier CSV dans un DataFrame différent
df_submission = pd.read_csv('../ynov-data/submission.csv')
df_test_housing = pd.read_csv('../ynov-data/test_housing.csv')
df_test_titanic = pd.read_csv('../ynov-data/test_titanic.csv')
df_train_housing = pd.read_csv('../ynov-data/train_housing.csv')
df_train_titanic = pd.read_csv('../ynov-data/train_titanic.csv')

# Vérification : afficher un aperçu de chaque DataFrame
print("--- Aperçu de submission.csv ---")
print(df_submission.head())

print("\n--- Aperçu de test_housing.csv ---")
print(df_test_housing.head())

print("\n--- Aperçu de test_titanic.csv ---")
print(df_test_titanic.head())

print("\n--- Aperçu de train_housing.csv ---")
print(df_train_housing.head())

print("\n--- Aperçu de train_titanic.csv ---")
print(df_train_titanic.head())

--- Aperçu de submission.csv ---
   id  median_house_value
0   3                   0
1  10                   0
2  11                   0
3  12                   0
4  13                   0

--- Aperçu de test_housing.csv ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.25     37.85                52.0       1274.0           235.0
1    -122.26     37.85                52.0       2202.0           434.0
2    -122.26     37.85                52.0       3503.0           752.0
3    -122.26     37.85                52.0       2491.0           474.0
4    -122.26     37.84                52.0        696.0           191.0

   population  households  median_income ocean_proximity  id
0       558.0       219.0         5.6431        NEAR BAY   3
1       910.0       402.0         3.2031        NEAR BAY  10
2      1504.0       734.0         3.2705        NEAR BAY  11
3      1098.0       468.0         3.0750        NEAR BAY  12
4       345.0       174.0         2.6736        NEAR BAY  13

--- Aperçu de test_titanic.csv ---
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

--- Aperçu de train_housing.csv ---
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1627.0           280.0
4    -122.25     37.85                52.0        919.0           213.0

   population  households  median_income  median_house_value ocean_proximity  \
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       565.0       259.0         3.8462            342200.0        NEAR BAY
4       413.0       193.0         4.0368            269700.0        NEAR BAY

   id
0   0
1   1
2   2
3   4
4   5

--- Aperçu de train_titanic.csv ---
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S